<ul>
    <li *ngFor="let choose of v0; let first = first; let last = last">
        <input id="{{choose.value}}" type="radio" name="rad" [checked]="first"/>
        <label for="{{choose.value}}">
        <div>{{choose.label}}
            <button *ngFor="let chose of chosen[choose.value]" type="button" class="btn btn-info special">{{chose}}
            </button>
        </div>
    </label>
        <div class="accslide" style='background-image: url("assets/images/mao1.png"); background-repeat: no-repeat; background-size: cover'>
            <div class="content">
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-3"><h1>{{choose.label}}</h1></div>
                    <div class="col-6">
                        <h4 *ngIf="first">Let us help you define your project. choose your options by clicking on the
                            button</h4>
                        <br>
                        <div class="card-deck">
                            <div *ngFor="let task of choose.options">
                                <div clickColor
                                     *ngIf="first || task.father === '' || (chosen[choose.father] && chosen[choose.father].includes(task.father))"
                                     (click)="addToChosen(task.value, choose.value)" id="{{task.value}}"
                                     class="card border-primary mb-3"
                                     style="max-width: 10rem; max-height: 20rem; cursor: pointer;">
                                    <div class="card-header">{{task.label}}</div>
                                    <div class="card-body text-primary">
                                        <h5 class="card-title">{{task.explanation}}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="last" style="position: center">
                            <!--<div class="typewriter">-->
                            <h4>I need {{chosen.type}} to do {{chosen.field}} with
                                {{chosen.attributes}}</h4>
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="col-3">
                        <label *ngIf="!last" for="{{choose.next}}" class="label2">Next</label>
                        <div *ngIf="last && !skills" class="input-group mb-3" style="float: right;">
                            <input type="text" [(ngModel)]="projectName" class="input2" placeholder="Project name">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" (click)="finishClick()" type="button">Finish
                                </button>
                            </div>
                        </div>
                        <div>
                            {{skills}}
                        </div>
                    </div>
                </div>
            </div>

            <!--<h4 style="float: right; cursor: pointer" *ngIf="last" (click)="finishClick()">Finish</h4>-->
        </div>
    </li>
</ul>
