
<ul>
    <li *ngFor="let choose of v0; let first = first; let last = last">
        <input id="{{choose.value}}" type="radio" name="rad" [checked]="first"/><label for="{{choose.value}}">
        <div>{{choose.label}}
            <button *ngFor="let chose of chosen[choose.value]" type="button" class="btn btn-info special">{{chose}}
            </button>
        </div>
    </label>
        <div class="accslide">
            <div class="content">
                <br>
                    <br>
                    <div class="row">
                        <div class="col-3"><h1>{{choose.label}}</h1></div>
                        <div class="col-6">
                <br>
                <div class="card-deck">
                    <div *ngFor="let task of choose.options">
                        <div clickColor
                             *ngIf="first || task.father === '' || (chosen[choose.father] && chosen[choose.father].includes(task.father))"
                             (click)="console(task.value, choose.value)" id="{{task.value}}"
                             class="card border-primary mb-3"
                             style="max-width: 10rem; max-height: 20rem; cursor: pointer;">
                            <div class="card-header">{{task.label}}</div>
                            <div class="card-body text-primary">
                                <h5 class="card-title">{{task.explanation}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="finish">
                            <div class="typewriter">
                                <h4>I need {{chosen.titles[0]}} to do {{chosen.technology[0]}} with
                                    {{chosen.name[0]}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <label *ngIf="!last" for="{{choose.next}}" class="label2">Next</label>
            <h4 style="float: right; cursor: pointer" *ngIf="last" (click)="finishClick()">Finish</h4>
        </div>
    </li>
</ul>
