<div class="container-fluid">
    <app-merc-navbar></app-merc-navbar>
    <br>
    <div class="row">
        <br>
        <br>
        <div class="col-1"></div>
        <div class="col-6">
            <div class="row">
                <div class="col-4">
                    <div class="list-group card2 rounded" style="height: 100%">
                        <button class="list-group-item list-group-item-action card2" *ngFor="let action of actions"
                                (click)="current = action.value">{{action.label}}
                        </button>
                    </div>
                </div>
                <div class="col-8">
                    <div class="card card2">
                        <h3>{{current}}</h3>
                    </div>
                </div>
            </div>
            <div class="card2" style="min-height: 250px; margin-bottom: 25px; margin-top: 20px">
                missions/ optional missions
                <br>
                <button routerLink="/project-manager">Click here to go to mission 1 page</button>
            </div>
        </div>
        <div class="col-4" style="min-height: 250px; overflow-y:auto; background-color: whitesmoke">
        Band name and members
            band rank and skills
        </div>
        <div class="col-1"></div>
    </div>
    <br>
</div>
