<div class="container-fluid">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10 card2">
            <div class="wrap" style="width: 100%;">
                <div class="header">
                    <div class="header_top">
                        <div class="menu">
                            <a class="toggleMenu" href="#"><img src="images/nav.png" alt=""/></a>
                            <ul class="nav">
                                <li><a href="#"><i><img src="images/settings.png" alt=""/></i>Settings</a></li>
                                <li ><a href="#"><i><img src="images/user.png" alt=""/></i>Profile</a>
                                </li>
                                <li class="active"><a href="#"><i><img src="images/mail.png" alt=""/></i>Band</a></li>
                                <li><a href="#"><i></i>Favorites</a></li>
                                <div class="clear"></div>
                            </ul>
                            <script type="text/javascript" src="js/responsive-nav.js"></script>
                        </div>
                        <div class="profile_details">
                            <div id="loginContainer">
                                <a id="loginButton" class=""></a>
                                <div id="loginBox">
                                    <form id="loginForm">
                                        <fieldset id="body">
                                            <div class="user-info">
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <br>
    <div class="row">
        <br>
        <br>
        <div class="col-1"></div>
        <div class="col-2">
        <button class="list-group-item list-group-item-action card2">Add member</button>
        <button class="list-group-item list-group-item-action card2">Delete member</button>
        <button class="list-group-item list-group-item-action card2">Combine with other band</button>
        <button class="list-group-item list-group-item-action card2">Upload band pic</button>
        <button class="list-group-item list-group-item-action card2">Search for a band to join</button>

        </div>
        <div class="col-4">
            Band name and
        members

            </div>
        <div class="col-4" style="min-height: 250px; max-height:300px; overflow-y:auto; background-color: whitesmoke">
            Members skills summary
            <div class="card card2" style="bottom: 0;">

            </div>
        </div>
        <div class="col-1"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-6 card2" style="min-height: 250px">
            <button routerLink="/project-manager">Click here to go to mission 1 page</button>
        missions/ optional missions if no project
        </div>
    </div>
    </div>



