<div class="row">
    <div class="col-1"></div>
    <div class="col-3">
<div class="example-container">
  <h2>To do</h2>

    <div class="jumbotron">
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[doneList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
  </div>
  </div>
</div>
</div>
<div class="col-3">
<div class="example-container">
  <h2>Done</h2>
<div class="jumbotron">
  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="done"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}<button (click)="delete(item)">delete</button></div>
      <div class="example-box"><input [(ngModel)]="newDone"><button (click)="addToDo()">Add</button></div>
  </div>
  </div>
  </div>
</div>
</div>
