<!--<div class="bg">-->
<div class="bg">
    <div class="centered">
        <div class="text-center">
            <p style="font-size: 10vmin; color: black"><strong>mercs.com</strong></p>
            <h1 style="font-weight:900; font-size: 4vmin; color: black"><b>Hire yourself a mercenary band</b></h1>
            <br>
            <div class="row">
                <div class="col-5">
                    <h4>Popular projects:</h4></div>
                <button class="exBtn">Web design</button>
                <button class="exBtn">Sw develop</button>
                <button class="exBtn">Systems QA</button>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div *ngFor="let button of buttons" class="col-sm-4">
            <div class="card" on style="cursor: pointer; border: 1px; background-color: whitesmoke"
                 routerLink="{{button.link}}">
                <div class="card-body">
                    <div class="card-body">
                        <h4 class="card-title">{{button.label}}</h4>
                        <br>
                        <!--<p class="card-text">{{button.description}}</p>-->
                        <a routerLink="{{button.link}}" class="btn btn-outline-info card2">{{button.label}}</a>
                    </div>
                    <!--<div class="container">-->
                    <!--<img routerLink="{{button.link}}" class="card-img-top img-fluid" style="max-height: 200px" src="/assets/images/{{button.image}}" alt="Card image cap">-->
                    <!--<div class="bottom-left">-->
                    <!--<button style="float: left; background-color: #50597b; border: none">{{button.label}}-->
                    <!--</button>-->
                    <!--<br><br><h6 style="color: white">{{button.description}}</h6></div>-->
                    <!--</div>-->
                    <!--<div class="card-block">-->
                    <!--<h4 class="card-title" routerLink="{{button.link}}">{{button.label}}</h4>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <br>
    </div>
</div>



