//.btn {
//  margin-left: 10px;
//  margin-right: 10px;
//}
/* Boostrap Buttons Styling */

body {
    height: 100%;
}

.btn-default {
    font-family: Raleway-SemiBold;
    font-size: 150%;
    color: white;
    letter-spacing: 1px;
    line-height: 100%;
    border: 3px solid black;
    border-radius: 40px;
    background: black;
    transition: all 0.3s ease 0s;
}

.btn-default-red {
    @extend .btn-default;
    background: darkred;
}

.btn-default:hover {
    background: darkblue;
    border: 3px solid black;
}

.mainimg {
    background-repeat: no-repeat;
    background-size: 3000px 1000px
}

.bottom-left {
    position: absolute;
    bottom: 30px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 22px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg {
    /* The image used */
    background-image: url("/assets/images/office2.jpeg");
    height: 64vh;
    //opacity: 0.7;
    //height: -moz-available;
    //height: -webkit-fill-available;
    /* Full height */

    /* Center and scale the image nicely */
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.exBtn{
    background: none; border-color: black; margin: 3px;
}
