<div class="container">
    <div class="card bg-light text-dark">
        <div class="card-body">project: {{project.project_name}}</div>
        <div class="card-body">project flow: {{project.require_skills.paths}}</div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <ul>
                    <li *ngFor="let sort of sorting"> {{sort.label}} <br>
                        <div class="form-check" *ngFor="let option of sort.options">
                            <input class="form-check-input" type="{{sort.options_type}}" name="{{sort.value}}"
                                   id="{{option.value}}"
                                   value="option1">
                            <label class="form-check-label" for="{{option.value}}">
                                {{option.label}}
                            </label>
                        </div>
                        <hr>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <div class="row">
                    <div *ngFor="let band of bands; let i = index" class="col-sm-4">
                        <div class="card">
                            <img class="avatar" src="/assets/images/{{band.image}}"
                                 alt="Card image cap" style="width: 100%; height: 10vw; object-fit: cover;">

                            <div class="card-block">
                                <h4 class="card-title">{{band.name}}</h4>
                            </div>
                            <div class="card-block">
                                <img *ngFor="let merc of band.users_id" src="/assets/images/img_avatar.png"
                                     style="width: 20%">
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <div class="fa fa-star-o" style="color: #f0ad4e">{{band.aggr_ranks}}
                                        ({{band.reviews.length}})
                                    </div>
                                </li>
                                <li class="list-group-item">{{band.status}}</li>
                            </ul>

                            <!--<ngb-rating [(rate)]="currentRate"></ngb-rating>-->
                            <!--<hr>-->
                            <!--<pre>Rate: <b>{{currentRate}}</b></pre>-->
                            <div class="card-block">
                                <button (click)="bands.splice(i, 1)" type="button" class="btn btn-danger">dismiss
                                </button>
                                <button type="button" class="btn btn-info">Info
                                </button>
                                <button routerLink="['band-profile/{{band._id}}']" type="button"
                                        class="btn btn-success">reach
                                    out
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>

