.btn-danger {
    float: left;
}

.btn-success {
    float: right;
}

.avatar {
  vertical-align: middle;
  width: 6vw;
  //height: 100%;
  //border-radius: 50%;
  //  margin-left: 35%;
}

.center {
  padding: 70px 0;
  text-align: center;
}
.btn100percent{
    width: 100%;
}
.smallImg{
    width: 3vw;
    height: 5vh;
    border-radius: 50%;
}
.cardBackground{
    height: 11vh;
}
