<div class="container">
  <div class="container-fluid">
    <div class="row">
      <div *ngFor="let project of projects; let i = index" class="col-sm-4">
        <div class="card">
          <img class="card-img-top img-fluid" src="http://placehold.it/750x325" alt="Card image cap">
          <div class="card-block">
            <h4 class="card-title">{{project.name}}</h4>
            <p class="card-text">{{project.status}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">moshe</li>
          </ul>
          <div class="card-block">
            <a href="#" class="card-link">reach them</a>
          </div>
        </div>
      </div>
        <br>
    </div>
  </div>

</div>


