<div class="modal-header">
    <h4 class="modal-title">Band: {{band.name}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="height: 100%">
    <h4>Status:</h4>
    <p>{{band.status}}</p>
    <h4>Skills:</h4>
    <div *ngFor="let skills of band.skills">
        <button *ngFor="let skill of skills | keyvalue">{{skill.value}}</button>
    </div>
    <h4>Reviews:</h4>
    <div *ngFor="let skills of band.reviews">
        <button *ngFor="let skill of skills | keyvalue">{{skill.value}}</button>
    </div>
</div>
