<div class="modal-header">
    <h5 class="section-title h1">Band: {{band.name}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body" style="height: 100%">
    <h4>Status:</h4>
    <p>{{band.status}}</p>
    <div class="card-body text-center mt-4">
        <h4 class="card-title">Skills:</h4>
        <div *ngFor="let skills of band.skills">
            <button *ngFor="let skill of skills | keyvalue">{{skill.value}}</button>
        </div>
        <h4>Reviews:</h4>
        <div *ngFor="let skills of band.reviews">
            <button *ngFor="let skill of skills | keyvalue">{{skill.value}}</button>
        </div>
    </div>

</div>
<section id="team" class="pb-5">
    <div class="container">
        <div class="row">
            <div *ngFor="let user of band.users_data" class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/assets/images/people/{{user.profile.pic}}"
                                            alt="card image"></p>
                                    <h4 class="card-title">{{user.name}}</h4>
                                    <p class="card-text">Frontend developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p class="card-text">The description of the user</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
