.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.card2 {
    background-color: #394264;
    color: white;
}

 .list-group-item:hover {
  background-color: #50597b;
}

