<div class="row">
        <div class="col-1"></div>
        <div class="col-10 card2">
            <div class="wrap" style="width: 100%;">
                <div class="header">
                    <div class="header_top">
                        <div class="menu">
                            <a class="toggleMenu" href="#"><img src="images/nav.png" alt=""/></a>
                            <ul class="nav">
                                <li><a href="#"><i><img src="images/settings.png" alt=""/></i>Settings</a></li>
                                <li ><a routerLink="/edit-profile-mercenery"><i><img src="images/user.png" alt=""/></i>Profile</a>
                                </li>
                                <li><a routerLink="/band-profile"><i><img src="images/mail.png" alt=""/></i>Band</a></li>
                                <!--<li class="active"><a routerLink="/band-profile"><i><img src="images/mail.png" alt=""/></i>Band</a></li>-->
                                <li><a href="#"><i></i>Favorites</a></li>
                                <div class="clear"></div>
                            </ul>
                            <script type="text/javascript" src="js/responsive-nav.js"></script>
                        </div>
                        <div class="profile_details">
                            <div id="loginContainer">
                                <a id="loginButton" class=""></a>
                                <div id="loginBox">
                                    <form id="loginForm">
                                        <fieldset id="body">
                                            <div class="user-info">
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
