<div class="container">
    <div class="row">

        <div class="col-3" *ngFor="let project of projects; let i = index">
            <div class="project" [ngClass]="colors[(i)%6]" *ngIf="i < 8">
                <div class="shape">
                    <div class="shape-text">
                        {{project.reward}} $
                    </div>
                </div>
                <br>
                <div class="project-content">
                    <h2 class="lead">
                        <u>{{project.name}}</u>
                    </h2>
                    <br>
                    <p>
                        {{project.description}}
                    </p>
                </div>
                <div class="card" >
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{project.status}}</li>
                        <li class="list-group-item">{{project.start_on}}</li>
                        <li routerLink="" class="list-group-item">Reach it</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
