<br>
    <br>
<div class="row">
    <div class="col-3">
        <br>
        <div class="custom-file">
  <input type="file" class="custom-file-input" id="customFile">
  <label class="custom-file-label" for="customFile">Add skill</label>
</div>
    </div>
    <div class="col-9">


        <button *ngFor="let choose of v0; let last = last" type="button"
                (click)="currentTitle(choose.value)"
                class="btn btn-outline-primary mx-3 my-4">{{choose.value}}
        </button>
    <div style="width: 18rem;" *ngFor="let option of options">
        <div class="card bg-light my-2 " >
            <div class="card-body text-center">
                <p class="card-text">{{option.label}} </p>
            </div>
        </div>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>
        </div>
</div>
