<br>
    <br>

<div class="container-fluid">
<div class="row">
    <div class="col-3">
        <br>
        <div class="custom-file">
  <input type="file" class="custom-file-input" id="customFile">
  <label class="custom-file-label" for="customFile">Add skill</label>
</div>
    </div>
    <div class="col-9">
        <button *ngFor="let choose of v0[0].options; let last = last" type="button"
                (click)="currentTitle(choose.value)"
                class="btn btn-outline-primary mx-3 my-4">{{choose.value}}
        </button>
    </div>
</div>
   <div  *ngFor="let option of options">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-3">
        <div class="card bg-light" >
            <div class="card-body text-center">
                <p class="card-text">{{option.label}} </p>
            </div>
        </div>
        </div>
        <div class="col-2">
            <br>
        <span *ngFor="let _ of intToArray(option.max_rank)" class="fa fa-star checked"></span>
    </div>
        </div>
        <br>
</div>
    </div>
